---
// library imports
import { Image } from "astro:assets";

// components import
import Link from "./Link.astro";

// Utility imports
import { slugify, formatDate } from "../js/utils";

const { frontmatter, url, tagType } = Astro.props;

const Tag = tagType;

const {title, date, category, author, description, image } = frontmatter;
---

<article class="card">

  <small>
    <a href={`/categort/${slugify(category)}/`}  class="badge">{category}</a>
  </small>

  <a href={url} aria-hidden="true" tabindex="-1">
    <Image 
      src={image.src}
      alt={image.alt}
      width="400"
      height="250"
    />
  </a>

  <div class="content">
    <div>
    <Tag class="h3">
      <a href={url}>{title}</a>
    </Tag>
    <small>by <a href={slugify(author)}>{author}</a> &diamond; {formatDate(date)}</small>
  </div>

    <p>{description}</p>
  
    <Link 
      href={url}
      text="Read post"
      style="secondary"
    />

  </div>
</article>